* {
  color: black;
}

.main-container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 80px 40px 1fr;
}

.header-container {
  background-color: rgb(33, 33, 33);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  position: relative;
  top: -10px;
  height: 100%;
  margin: 0;
}

.nav-container {
  background-color: crimson;
}

.search-bar {
  position: relative;
  top: 5px;
  left: 280px;
  width: 40%;
  height: 30px;
  border: none;
  border-radius: 100px;
  padding: 0 20px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #f8f8ff;
}

.content-container {
  display: grid;
  grid-template-columns: 330px 1fr;
  background-color: black;
}

.sidebar-container {
  background-color: #f8f8ff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-category {
  margin: 10px;
  padding: 5px 40px;
  font-size: 30px;
  font-weight: 700;
  color: white;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 50px;
  cursor: pointer;
}

.preview-magazine-container {
  overflow-y: auto;
  height: calc(100vh - 140px);
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0 20px;
}

.logout-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: crimson;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.logout-button:hover {
  background-color: darkred;
}
