.mag-view-main-container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 80px 40px 1fr;
}

.mag-view-header-container {
  background-color: rgb(33, 33, 33);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mag-view-header-logo {
  position: relative;
  top: -10px;
  height: 100%;
  margin: 0;
}

.mag-view-title-container {
  background-color: crimson;
}

.mag-view-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  display: grid;
  padding: 20px;
  box-sizing: border-box;
}

.mag-view-magazine-description-title,
.mag-view-magazine-description-text {
  color: white;
}

.mag-view-magazine-description-text {
  font-size: 25px;
}

.mag-view-magazine-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mag-view-frontpage {
  height: 400px;
}
.mag-view-magazine-description-price {
  color: white;
  font-size: 25px;
  text-align: right;
  font-weight: 700;
}
