.magazine-row {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.row-category-name {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 10px;
}

.magazine-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
